<h1 class='page-header'>Log Game</h1>

<%- if flash[:notice].present? %>
  <div class="alert alert-success">
    <%= flash[:notice] %>
  </div>
<% end %>

<%- if flash[:error].present? %>
  <div class="alert alert-danger">
    <%= flash[:error] %>
  </div>
<% end %>

<%= simple_form_for(@game, html: { class: 'form-horizontal' }) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>
      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%= f.input :date_played %>
  <div class="form-group">
    <label>Opponent</label>
    <%= f.select :opponent_id, @possible_opponents.map { |u| [u.email, u.id] }, prompt: true %>
  </div>
  <%= f.input :player_score %>
  <%= f.input :opponent_score %>
  <%= f.button :submit, "Log Game" %>
<% end %>